body {
    background-color: black;
}

.header {
    color: rgb(204, 205, 247);
    background: linear-gradient(to bottom, #240c9e, #151c5c, #043693);
    padding: 20px;
}

.heading {
    font-family: 'Brush Script MT', cursive;
    font-size: 40px;
    margin-left: 20px;
}

.buttons {
    float: right;
    margin-top: 6px;
}

.login,
.signUp,
.logout {
    font-size: 20px;
    font-weight: bold;
    margin-right: 15px;
    border-radius: 10px;
    padding: 6px;
    font-style: italic;
    background-color: rgb(204, 205, 247);
    color: #1f0d79;
    border: solid #140563 1px;
}


/* /////////////////////////////////////////////////////////////////////////////////////// */


.loginPage, .signUpPage {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1000;
}

.loginPage-content, .signUpPage-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: lightblue;
    color: rgb(12, 20, 81);
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 30px;
    border-radius: 5px;
    font-size: 20px;
}

.closeLogin, closeSignUp {
    width: 20px;
    height: auto;
    padding: 2px;
}