body,
html {
    background-color: black;
    height: 80%;
}

.header {
    color: rgb(204, 205, 247);
    background: linear-gradient(to bottom, #240c9e, #151c5c, #043693);
    padding: 20px;
}

.heading {
    font-family: 'Brush Script MT', cursive;
    font-size: 40px;
    margin-left: 20px;
    background: linear-gradient(to bottom, #240c9e, #151c5c, #043693);
    padding-top: 7px;
    padding-bottom: 7px;
    padding-right: 20px;
    padding-left: 20px;
}

.buttons {
    float: right;
    margin-top: 6px;
}

.login:hover,
.signUp:hover,
.logout:hover,
.closeLogin:hover,
.closeSignUp:hover {
    background-color: white;
}

.login,
.signUp,
.logout,
.loggedUser {
    font-size: 20px;
    font-weight: bold;
    margin-right: 15px;
    border-radius: 10px;
    padding: 6px;
    font-style: italic;
    background-color: rgb(204, 205, 247);
    color: #1f0d79;
    border: solid #140563 1px;
}

.noteClass {
    height: 100%;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.note {
    color: white;
    font-size: 40px;
    font-style: italic;
    background-color: #333;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    text-align: center;
}

.loggedUser {
    background: linear-gradient(to bottom, #240c9e, #151c5c, #043693);
    border: none;
    color: white;
    padding: 15px;
    font-size: 30px;
    font-style: normal;
}

.loginPage,
.signUpPage {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.9);
    z-index: 1000;
}

.loginPage-content,
.signUpPage-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: lightblue;
    color: rgb(12, 20, 81);
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 30px;
    border-radius: 5px;
    font-size: 20px;
    text-align: center;
}

.closeWindow {
    font-size: 15px;
    border: none;
    border-radius: 2px;
    font-weight: bold;
    background-color: red;
    position: absolute;
    top: 0%;
    left: 92.5%;
}

#form1-input,
#form2-input,
#submit {
    font-size: 20px;
    padding: 3px;
    margin: 3px;
    text-align: center;
    border-radius: 20px;
    border: solid #140563 1px;
}

#submit {
    padding: 5px;
    border-radius: 10px;
    color: rgb(12, 20, 81);
    margin-top: 10px;
}